<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item>
  <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)] ="user.email">
    </ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Password</ion-label>
    <ion-input type="text" [(ngModel)] ="user.password">
    </ion-input>
</ion-item>


  <button ion-button color="light" (click)="login(user)">Login</button>

</ion-content>
